@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap');

$constrast-color: #0C70F2;
$white: #FFF;
$background: #2D2D2D; 
$border-radius: 10px;
$font-roboto: 'Roboto', sans-serif;