@use "../../sass/variables" as *;

.to-do-list {
    position: relative;

    ul {
        width: 680px;
        display: flex;
        justify-content: space-between;
        border-bottom: 6px solid $white;
        padding: 0 15px 40px 15px;
        margin-bottom: 30px;
    }

    li {
        color: $white;
        list-style: none;
        font-size: 30px;
        font-weight: 600;
    }

    #container {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__new-to-do {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    input,
    input:focus,
    input:active {
        border: none;
        outline: none;
        background-color: transparent;
        height: 30px;
    }

    input::placeholder,
    input {
        color: #FFF;
        font-family: Raleway;
        font-size: 25px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    img {
        cursor: pointer;
    }

    &__new {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        flex-grow: 1;

        div {
            width: 33%;
        }

        div:nth-child(1) {
            overflow: hidden;
        }

        div:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div:nth-child(3) {
            display: flex;
            justify-content: end;
            gap: 10px;
        }

        p {
            color: #FFF;
            font-family: Raleway;
            font-size: 25px;
            font-weight: 400;

        }
    }

    &__delet {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;
        border-radius: $border-radius;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 760px;
        height: 440px;
        padding: 70px 100px;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 25px;
        }

        input {
            color: #000;
            border: 1px solid #000;
            border-radius: $border-radius;
            padding: 20px;
        }

        input:focus {
            border: 1px solid #000;
            box-shadow: 2px 4px 8px #00000026;
        }

        div {
            display: flex;
            gap: 20px;

            button {
                padding: 20px 100px;
                font-size: 30px;
                border-radius: $border-radius;
                cursor: pointer;
                background-color: $white;
            }

            button:nth-child(1) {
                color: $white;
                background-color: $constrast-color !important;
                border: none;
            }
        }
    }

}