@use "../../sass/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

.header {
    width: 100%;
    background-color: $constrast-color;
    box-shadow: -2px 8px 8px #00000028, inset 6px 8px 8px #ffffff4a, inset -6px 0 8px #ffffff4a;
    opacity: .95;

    &__nav {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        padding-top: 20px;
    }
    
    &__orgdanizacao {
        font-family: 'Poppins', sans-serif !important;
        color: $white;
        padding: 8px 38px;
    }
    
    &__tarefas {
        color: $constrast-color;
        background-color: $white;
        font-family: 'Poppins', sans-serif !important;
        border-radius: 10px 10px 0 0;
        padding: 8px 38px;
    }
}